.price{
    color:rgb(0,118,0);
}
.cart-button{
    background-color: rgb(255,216,20);
    width:110px;
    height:35px;
    border-radius: 8px;
    border: none;
}
.cart-button:hover{
    opacity:0.8;
}
.buy-button{
    background-color: rgb(255,164,28);
    width:80px;
    height:35px;
    border-radius: 8px;
    border: none;
    margin-left:15px;
}
.buy-button:hover{
    opacity:0.8;
}
.link:hover{
    color:orange;
}